<div class="section" id="experience">
    <div class="container py-2 cc-experience">
        <div class="h4 text-center mb-4 title">Work Experience</div>
                <div class="row">
                    <ul class="timeline">
                        
                        <li>
                            <div class="timeline-badge up bg-green">
                                <i class="fa fa-thumbs-up"></i>
                            </div>
                            <div class="timeline-panel">
                                <!-- <div class="row"> -->

                                    <div class="row">
                                        
                                            <div class="h5 mt-0 ml-4 title">Kaizen Analytix LLC</div>
                                    
                                    </div>
                                     
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <div class="h6 mt-0 ml-4 title">Software Engineer Intern</div>
                                            <p class="ml-4" align="justify">Primarily focussed on contributing to the web application of the Kaizen.</p>
                                            <p class="ml-4" align="justify">The product focusses on recommending the best price to uplift the revenue opportunity of the customer</p>
                                            <p class="ml-4" align="justify">Worked out a documentation framework for efficient managment of the product documents</p>                                           
                                        </div>
                                        <div class="col-lg-6">       
                                            <ul>
                                                <li class="list">Core Responsibilites</li>
                                                <ul>
                                                    <li class="non_list">Software Development</li>
                                                </ul>
                                                <li class="list mt-3">Technologies and Language</li>
                                                <ul>
                                                    <div class="row">
                                                        <div class="col-md-6">
                                                            <li class="non_list">ReactJS</li>
                                                            <li class="non_list">NodeJS</li>
                                                            <li class="non_list">Python</li>
                                                            <li class="non_list">Mysql</li>
                                                            <li class="non_list">MongoDB</li>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <li class="non_list">AWS</li>
                                                            <li class="non_list">Rabbit MQ</li>
                                                            <li class="non_list">Bitbucket</li>
                                                            <li class="non_list">JIRA</li>

                                                        </div>
                                                    </div>   
                                                </ul>
                                            </ul>
                                        </div>
                                    </div>    
                                    
                                <!-- </div> -->
                            </div>
                        </li>

                        <li>
                            <div class="timeline-badge up bg-green">
                                <i class="fa fa-thumbs-up"></i>
                            </div>
                            <div class="timeline-panel">
                                <!-- <div class="row"> -->

                                    <div class="row">
                                        
                                            <div class="h5 mt-0 ml-4 title">Georgia State Unviersity</div>
                                    
                                    </div>
                                     
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <div class="h6 mt-0 ml-4 title">Graduate Research Intern</div>
                                            <p class="ml-4" align="justify">Conducted data analysis in Excel, XL Miner, Python and applying machine learning and statistical models to predict the weather and generation of solar energy in residential areas to enable energy trading</p>
                                            <p class="ml-4" align="justify">Generated visualizations in Tableau for inferring feature correlations and reporting the analysis of collected data</p>
                                            <p class="ml-4" align="justify">Developed a utility using Python to scrape a website and fetch data, clean it to enable a 50% reduction of efforts required in data collection.</p>
                                           
                                        </div>
                                        <div class="col-lg-6">       
                                            <ul>
                                                <li class="list">Core Responsibilites</li>
                                                <ul>
                                                    <li class="non_list">Research Assistant</li>
                                                </ul>
                                                <li class="list mt-3">Technologies and Language</li>
                                                <ul>
                                                    <div class="row">
                                                        <div class="col-md-6">
                                                            <li class="non_list">Time Series Problem</li>
                                                            <li class="non_list">Data Analytics</li>
                                                            <li class="non_list">Python</li>
                                                            <li class="non_list">Excel</li>
                                                            <li class="non_list">NumPy</li>
                                                            <li class="non_list">Pandas</li>
                                                        </div>
                                                        
                                                    </div>   
                                                </ul>
                                            </ul>
                                        </div>
                                    </div>    
                                    
                                <!-- </div> -->
                            </div>
                        </li>

                      


                        <li>
                            <div class="timeline-badge up bg-green">
                                <i class="fa fa-thumbs-up"></i>
                            </div>
                            <div class="timeline-panel">
                                <!-- <div class="row"> -->

                                    <div class="row">
                                        
                                            <div class="h5 mt-0 ml-4 title">HCL Technologies</div>
                                    
                                    </div>
                                     
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <div class="h6 mt-0 ml-4 title">Software Developer Consultant</div>
                                            <p class="ml-4" align="justify">Spearheaded Agile team by adhering to the SCRUM framework to build an Angular Web Application to improve accessing data for creating digital twins of a car</p>
                                            <p class="ml-4" align="justify">Collaborated with business stakeholders and Agile team to deliver 80 user story points every sprint in a 3 week sprint consistently over 15 months to complete the project before the given deadline</p>
                                            <p class="ml-4" align="justify">Analyzed and recommended solutions by designing models and wireframes of the Graphical User Interfaces (GUI)</p>
                                            <p class="ml-4" align="justify">Mentored four junior associates and improved teams rate of delivery by 15%</p>

                                        </div>
                                        <div class="col-lg-6">       
                                            <ul>
                                                <li class="list">Core Responsibilities</li>
                                                <ul>
                                                    <li class="non_list">Business Analyst</li>
                                                    <li class="non_list">Web Development</li>
                                                </ul>
                                                <li class="list mt-3">Technologies and Language</li>
                                                <ul>
                                                    <div class="row">
                                                        <div class="col-md-6">
                                                            <li class="non_list">Javascript</li>
                                                            <li class="non_list">Angular</li>
                                                            <li class="non_list">Java</li>
                                                            <li class="non_list">SpringBoot</li>
                                                            <li class="non_list">MongoDB</li>
                                                            <li class="non_list">Karma-Jasmine</li>
                                                            <li class="non_list">Git Bitbucket</li>


                                                        </div>
                                                        <div class="col-md-6">
                                                            <li class="non_list">Jira</li>
                                                            <li class="non_list">Confluence</li>
                                                            <li class="non_list">Microsoft Powerpoint</li>
                                                            <li class="non_list">Balsamiq</li>
                                                            <li class="non_list">Jenkins</li>
                                                            <li class="non_list">Openshift</li>

                                                        </div>
                                                    </div>   
                                                </ul>
                                            </ul>
                                        </div>
                                    </div>  
                                    
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <div class="h6 mt-4 ml-4 title">Software Developer</div>
                                            <p class="ml-4" align="justify">Proposed, and owned four features in the Teamcenter Active Workspace application to improve the product usability and efficiency.</p>
                                            <p class="ml-4" align="justify">Worked with the migration of Teamcenter Active Workspace 3.4 to 4.0 which included the transforming from the custom GWT codebase to the AngularJS codebase.</p>
                                            <p class="ml-4" align="justify">Build Custom Teamcenter ITKs in C++</p>                                           
                                        </div>
                                        <div class="col-lg-6">       
                                            <ul>
                                                <li class="list mt-4">Core Responsibilites</li>
                                                <ul>
                                                    <li class="non_list">Software Development</li>
                                                </ul>
                                                <li class="list mt-3">Technologies and Language</li>
                                                <ul>
                                                    <div class="row">
                                                        <div class="col-md-6">
                                                            <li class="non_list">GWT</li>
                                                            <li class="non_list">Javascript</li>
                                                            <li class="non_list">AngularJS</li>
                                                            <li class="non_list">HTML-CSS</li>
                                                            <li class="non_list">C++</li>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <li class="non_list">SVN</li>
                                                            <li class="non_list">Teamcenter 11</li>
                                                            <li class="non_list">Active Workspace 3.4, 4.0</li>
                                                        </div>
                                                    </div>   
                                                </ul>
                                            </ul>
                                        </div>
                                    </div>  
                                    
                                <!-- </div> -->
                            </div>
                        </li>

                        <li>
                            <div class="timeline-badge up bg-green">
                                <i class="fa fa-thumbs-up"></i>
                            </div>
                            <div class="timeline-panel">
                                <!-- <div class="row"> -->

                                    <div class="row">
                                        
                                            <div class="h5 mt-0 ml-4 title">Siemens Digital Industries Software</div>
                                    
                                    </div>
                                     
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <div class="h6 mt-0 ml-4 title">Software Developer Intern</div>
                                            <p class="ml-4" align="justify">Created one new solution of Subset in Occurrence Management Module of Teamcenter Active Workspace 3.4</p>
                                            <p class="ml-4" align="justify">Improved the reliability of Occurrence Management Module to 75% by refactoring the existing code and improving acceptance test cases in JUnit and Selenium</p>

                                        </div>
                                        <div class="col-lg-6">       
                                            <ul>
                                                <li class="list">Core Responsibilites</li>
                                                <ul>
                                                    <li class="non_list">Software Development</li>
                                                    
                                                </ul>
                                                <li class="list mt-3">Technologies and Language</li>
                                                <ul>
                                                    <div class="row">
                                                        <div class="col-md-6">
                                                            <li class="non_list">Java</li>
                                                            <li class="non_list">GWT</li>
                                                            <li class="non_list">Mockito</li>
                                                            <li class="non_list">Cucumber-Selenium</li>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <li class="non_list">Teamcenter Active Workspace 3.3</li>
                                                            <li class="non_list">Version One</li>
                                                            <li class="non_list">Git</li>
                                                        </div>
                                                    </div>   
                                                </ul>
                                            </ul>
                                        </div>
                                    </div>    
                                    
                                <!-- </div> -->
                            </div>
                        </li>

                        

                    </ul>
                </div>
    </div>
</div>
        