<div class="section" id="about">
    <div class="container">
        <div class="card" data-aos="fade-up" data-aos-offset="10">
            <div class="row">
                <div class="col-lg-6 col-md-12">
                    <div class="card-body">
                        <div class="h4 mt-0 title">About Me</div>
                            <p align="justify"></p>
                            <p align="justify"></p>
                            <p align="justify"></p>
                    </div>
                </div>    
                <div class="col-lg-6 col-md-12">       
                    <div class="card-body">
                        <div class="h4 mt-0 title">Basic Information</div>
                        
                        <div class="row mt-4">
                            <div class="col-sm-8">
                                <strong class="text-uppercase">Email: </strong>
                                suyeddalvi@gmail.com
                            </div>
                        </div>
                        <div class="row mt-4">
                            <div class="col-sm-8">
                                <strong class="text-uppercase">Mobile No:</strong> (470)-652-9997
                            </div>
                        </div>
                        <div class="row mt-4">
                            <div class="col-sm-8">
                                <strong class="text-uppercase">Address:</strong> Atlanta, Georgia - 30324, USA
                            </div>
                        </div>
                        <div class="row mt-4">
                            <div class="col-sm-8">
                                <strong class="text-uppercase">Language:</strong> English, Hindi, Marathi, German
                            </div>
                        </div>
                     </div>
                </div>
            </div>
        </div>
    </div>
</div>

