<div class="section" id="education">
    <div class="container cc-education">
        <div >
        <div class="h4 text-center mb-4 title">Education</div>
        
            <div class="card">
                <div class="row">
                    <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
                        <div class="card-body cc-education-header">
                            <p>2021-2022</p>
                        <div class="h5">Master of Science</div>
                        </div>    
                    </div>
                    <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
                        <div class="card-body">
                            <div class="h4">Information Systems</div>
                                <h4 class="category">J. Mack Robinson College of Business</h4>
                                <h6 class="category">Georgia State University, Atlanta, United States</h6>
                                <ul>
                                    <li>The Robinson's Information Systems Program is ranked top 10 amongst the public universities in the United States </li>
                                    <li>The Department of Computer Information Systems is ranked #3 in the world for publications in premier information systems journals</li>
                                    <li><strong>GPA: </strong>3.7/4.0</li>

                                </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="row">
                    <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
                        <div class="card-body cc-education-header">
                            <p>2011-2015</p>
                        <div class="h5">Bachelor of Engineering</div>
                        </div>    
                    </div>
                    <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
                        <div class="card-body">
                            <div class="h4">Information Techology</div>
                            <h4 class="category">Pimpri Chinchwad College of Engineering</h4>
                            <h6 class="category">Savitribai Phule Pune University (SPPU), Pune, India</h6>

                            <ul>
                                    <li>AICTE, NBA and NAAC Credited with 'A' Grade Autonomous Institute and Permanently Affiliated to SPPU</li>
                                    <li><strong>Grade: </strong>First Class with Distinction</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div> 
            <div  class="h4 text-center mb-4 title">Certifications</div>
            <div class="card">
                <div class="row">
                    <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
                        <div class="card-body cc-certifications-header text-center">
                            <i class="fab fa-aws fa-5x"></i>
                        </div>    
                    </div>
                    <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
                        <div class="card-body" >
                            <div class="h4 mt-0 mb-0"><strong> AWS Academy Graduate - AWS Academy Cloud Foundations</strong></div>
                                <div class="h5 category mt-1"> Amazon Web Services (AWS)</div>
                                <p>Issued July 2021 - No Expiration <br/>
                                <a href="https://www.credly.com/earner/earned/badge/5ad57f15-d893-4411-a4a7-5592b4fce44e" target="_blank">See Credential</a></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="row">
                    <div class="col-md-3 bg-primary pr-0" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
                        <div class="card-body">
                            <img src="assets\images\seal-csm.png" />
                        </div>    
                    </div>
                    <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
                        <div class="card-body" >
                            <div class="h4 mt-0 mb-0"><strong>Certified Scrum Master (CSM)</strong></div>
                                <div class="h5 category mt-1">Scrum Alliance </div>
                                <p>Issued Feb 2021 - Expires Feb 2023 <br/>
                                <a href="https://bcert.me/bc/html/show-badge.html?b=zhzghmtm" target="_blank">See Credential</a></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="row">
                    <div class="col-md-3 bg-primary pr-0" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
                        <div class="card-body text-center">
                            <img src="assets\images\sap.png" />
                        </div>    
                    </div>
                    <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
                        <div class="card-body" >
                            <div class="h4 mt-0 mb-0"><strong>SAP Certified Application Associate - Buisness Process Integration</strong></div>
                                <div class="h5 category mt-1">SAP</div>
                                <p>Issued May 2021 - No Expiration <br/>
                                <a href="https://www.credly.com/earner/earned/badge/9de7a624-1b06-4823-9b58-4bba831bcef7" target="_blank">See Credential</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>                                               